# Before Executing:

## Put "file.txt" in the same directory as this notebook

In [202]:
import re
import pandas as pd

In [203]:
# Reading file
with open("file.txt") as f:
    text = f.readlines()[0]
    
text

In [205]:
# Searching for characters in format xi, yi
char_pattern = re.compile(r'\Di')
char_matches = list(re.finditer(char_pattern, text))

# Searching for numbers in format 111111.1
num_pattern = re.compile(r'\d{1,6}[,.]\d')
num_matches = list(re.finditer(pattern, text))

In [206]:
# Creating dictionary 
data = {}
j = 0

for char in char_matches:
    lst = []
    
    for _ in range(int(len(num_matches) / len(char_matches))):
        lst.append(float(num_matches[j].group()))
        j += 1
        
    data[char.group()] = lst
    
data

{'xi': [2.2, 2.8, 3.2, 4.2, 6.5, 8.2, 9.1, 10.4, 11.3, 12.5, 13.3, 14.5, 16.2],
 'yi': [3.9,
  5.2,
  11.7,
  15.8,
  41.2,
  70.1,
  80.9,
  103.2,
  116.7,
  128.0,
  179.6,
  202.2,
  226.0]}

In [208]:
# Converting to dataframe
df = pd.DataFrame(data)
df

      xi     yi
0    2.2    3.9
1    2.8    5.2
2    3.2   11.7
3    4.2   15.8
4    6.5   41.2
5    8.2   70.1
6    9.1   80.9
7   10.4  103.2
8   11.3  116.7
9   12.5  128.0
10  13.3  179.6
11  14.5  202.2
12  16.2  226.0

In [ ]:
# Creates a new csv file in current working directory
df.to_csv('data.csv', index=0)